@font-face {
	font-family: 'Roboto';
	src: url(./src/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto-light';
	src: url(./src/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto-medium';
	src: url(./src/fonts/Roboto-Medium.ttf);
}


html {
	font-size: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	background-image: url(./src/img/background.jpg);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: 'Roboto-medium', sans-serif;
	font-weight: 500;
	font-size: 5.5rem;
	line-height: 120%;

	margin-top: 1rem;
	margin-bottom: 2rem;
}

form {
	width: 389px;
	color: white;
	background-color: #171929;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 41px 45px;

	border-radius: 27px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	text-align:  center;
	margin-bottom: 1rem;
}

p {
	font-family: 'Roboto-light';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 120%;

	color: #797EA3;

	margin-bottom: 1rem;
}

.text-field {
	width: 100%;
	margin-bottom: 38px;
}

.text-field__label {
	font-family: 'Roboto-light', sans-serif;
	font-weight: 300;
	line-height: 120%;
	font-size: 1.5rem;
	color: #797EA3;

	display: block;
	margin-bottom: 7px;
}

.text-field__input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 120%;
	color: #ffffff;

	display: block;
	width: 100%;
	height: calc(2.9rem + 2px);
	padding: 0.375rem 0;

	background-color: #171929;
	border: none;
	border-bottom: 1px solid #3F4363;
}

.text-field__input.error {
	border-bottom: 1px solid red;
}

.text-field__input:focus-visible {
	outline: none;
	border: none;
	border-bottom: 1px solid #ffffff;
}

.text-field__textarea {
	resize: none;

	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 120%;
	color: #ffffff;

	display: block;
	width: 100%;

	padding: 0.375rem 0;

	background-color: #171929;
	border: none;
	border-bottom: 1px solid #3F4363;
}

.text-field__textarea.error {
	border-bottom: 1px solid red;
}

.text-field__textarea:focus-visible {
	outline: none;
	border: none;
	border-bottom: 1px solid #ffffff;
}

.check {
	display: flex;
	align-items: center;
	font-family: 'Roboto-light', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 120%;

	padding-left: 2.2em;

	color: #797EA3;

	margin-bottom: 2.5rem;
}

.check.error {
	color: red;
}

.check__input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.check__box {
	position: absolute;
	width: 1.8em;
	height: 1.8em;

	margin-left: -2.2em;

	background-color: #2C2F47;
	border-radius: 8px;
}

.check__input:checked + .check__box {
	background-image: url(./src/img/svg/Vector.svg);
	background-position: center;
	background-repeat: no-repeat;
}

a {
	color: #797EA3;
	margin-left: 0.5rem;
}

a:hover {
	color:#ffffff
}

a:visited {
	color: #ffffff;
}

button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.7);
	
	width: 121px;
	height: calc(2.2rem + 22px);

	background-color: #2C2F47;
	border-radius: 28px;

	border: none;
	box-shadow: none;
}

button:hover {
	color: white;
}
